.target-group {
  position: relative;
  padding: 22px 0 19px;

  @media (min-width: $tablet-width) {
    outline: 1px solid rgb(231, 231, 231);
    padding: 24px 29px 25px;
    margin-left: 5px;
  }

  &::after {
    @include divider;
    width: calc(100% + 40px);
    left: -20px;
    background-color: rgb(217, 217, 217);

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 25px 28px;
    width: 50%;
    box-sizing: border-box;
    height: fit-content;
  }
}

.target-group__list {
  font-family: $font-title;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 13px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.target-group__item {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 30px;

  @media (min-width: $tablet-width) {
    min-height: 40px;
  }
}

.target-group__field {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  &:disabled ~ span {
    opacity: 0.3;
  }
}
