.application {
  @media (min-width: $tablet-width) {
    padding: 0 37px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.application__intro {
  margin: 0;
  padding: 20px 0 20px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 27px 0 33px 2px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 67px;
  }
}

.application__group {
  position: relative;
  border: none;
  margin: 0;
  display: flex;
}

.application__container {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    gap: 77px;
    width: 100%;
    padding-bottom: 2px;
  }
}

.application__submit {
  display: flex;
  flex-direction: column;
  padding: 16px 0 32px;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding: 27px 4px 72px;
    gap: 61px;
  }

  @media (min-width: $desktop-width) {
    padding: 29px 0 82px;
    gap: 84px;
  }
}

.application__legend {
  font-family: "Lato", sans-serif;
  padding: 20px 0 0;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-bottom: 5px;
    font-size: 16px;
    max-width: 200px;
  }
}

.application__button {
  min-width: 280px;
  width: 100%;
  min-height: 40px;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    width: 282px;
    font-size: 20px;
    min-height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}
