.application-main {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin-bottom: 71px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin-bottom: 65px;
  }
}

.application-main__column {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 80px;
    margin-bottom: 0;
  }
}
