.application-main {
  padding: 19px 0 23px;
  gap: 12px;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 33px 0 72px;
    flex-direction: column;
    gap: 20px;
  }

  &::after {
    @include divider;
    width: calc(100% + 40px);
    left: -20px;
    background-color: rgb(217, 217, 217);

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 50%;
  }
}

.application-main__container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  text-transform: uppercase;
  gap: 13px;

  @media (min-width: $tablet-width) {
    gap: 13px;
  }

  @media (min-width: $desktop-width) {
    min-width: 569px;
  }
}

.application-main__container:last-child .application-main__label {
  @media (max-width: $tablet-width) {
    width: 100px;
  }
}

.application-main__label {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: rgb(68, 68, 68);
  display: flex;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 2px;
    padding-left: 3px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}
