.hero {
  font-family: "Oswald", sans-serif;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 63%, rgb(255, 255, 255) 60%);
  position: relative;
  height: 100%;

  @media (min-width: $tablet-width) {
    background: none;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    max-height: 696px;
    background-position: right 0;
    padding-top: 141px;
    padding-bottom: 2px;

    &::after {
      position: absolute;
      content: "";
      background-color: rgba(104, 183, 56, 0.85);
      width: 50%;
      height: 100%;
      top: 0;
      right: 0;
      z-index: -2;
    }

    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/hero_cat_xl.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right bottom;
      background-color: rgb(79, 79, 84);
      width: 50%;
      height: 100%;
      top: 0;
      right: 0;
      z-index: -2;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/hero_cat_xl@2x.png");
      }
    }
  }
}

.hero__container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 302px;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    align-items: flex-start;
    margin: 0 auto;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 302px;
    display: block;
    background-image: url("../img/hero_cat.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    top: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero_cat.png@2x.png");
    }

    @media (min-width: $tablet-width) {
      background: none;
      width: fit-content;
    }
  }
}

.hero__title {
  display: flex;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  padding: 27px 0 25px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    color: rgb(0, 0, 0);
    padding: 23px 87px 21px;
    text-align: start;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 81px 80px 40px 80px;
    max-width: 420px;
  }
}

.hero__description {
  display: flex;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  padding-bottom: 29px;
  margin: 0;
  z-index: 1;

  @media (min-width: $tablet-width) {
    color: rgb(0, 0, 0);
    padding: 19px 88px 49px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 80px 52px 80px;
    max-width: 420px;
  }
}

.hero__image {
  display: block;
  background-color: transparent;
  padding-bottom: 3px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 224px;
    padding: 0;
    width: 709px;
    min-height: 609px;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    left: 39%;
    width: 552px;
    min-height: 499px;
    z-index: 1;
  }
}

.hero__link {
  width: 100%;
  padding: 10px 5px;
  line-height: 18px;
  font-size: 14px;
  min-height: 40px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 244px;
    font-size: 20px;
    line-height: 20px;
    padding: 17px 5px;
    z-index: 1;
    margin-left: 90px;
    margin-bottom: 526px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
    margin-bottom: 183px;
  }
}
