.social__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  position: relative;
  border-top: 2px solid rgb(217, 217, 217);
  border-bottom: 2px solid rgb(217, 217, 217);

  @media (min-width: $tablet-width) {
    border: none;
    margin-left: 137px;
    margin-right: 113px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 392px;
    margin-right: 365px;
  }
}

.social__link {
  width: 27px;
  height: 17px;
  display: block;
  padding: 22px 13px 21px;

  @media (min-width: $tablet-width) {
    padding: 7px 12px 8px;
  }
}

.social__link:hover .social__link-icon,
.social__link:focus .social__link-icon {
  fill: rgb(104, 183, 56);
}

.social__link:active .social__link-icon {
  opacity: 0.3;
}

.social__link-icon {
  fill: rgb(102, 102, 102);
}
